<div class="panel panel-body">
  <div class="row">
    <div class="col-md-6">
      <div class="form-error">
        <h2 class="text-muted">Error State</h2>
        <div class="form-group has-error has-feedback">
          <label class="sr-only control-label" for="inputError2">Input with error</label>
          <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status" value="blah@">
          <span id="inputError2Status" class="sr-only">(error)</span>
          <p class="help-block">This should be an email address</p>
        </div>
        <h2 class="text-muted">Valid State</h2>
        <div class="form-group has-success has-feedback">
          <label class="sr-only control-label" for="inputError3">Input without error</label>
          <input type="text" class="form-control" id="inputError3" aria-describedby="inputError3Status" value="blah@user.com">
          <span id="inputError3Status" class="sr-only">(error)</span>
        </div>
      </div>
    </div>
  </div>
</div>
